.contact-us-container{
    margin-top: 150px;
    padding: 0px 35px 0px 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us-container h1{
    width: 50%;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}
.contact-us-container p{
width: 50%;
}
.contact-us-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}

.email-contact{
    font-weight: 800;
}
.back-to-home-contact{
    margin-top: 50px;
    text-decoration: none; 
    color: black; 
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 50px 10px 50px;
}