footer {
    position: relative;
    top: 210vh;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-container p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .footer-container ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .footer-container ul li a:hover {
    text-decoration: underline;
  }
  footer {
    position: relative;
    top: 210vh;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }