#backgroundVideo
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content-above-video h1
{
    display: flex;
    position: absolute;
    left: 250px;
    bottom: 80px;
}
.content-above-video h3
{
    display: flex;
    position: absolute;
    left: 260px;
    bottom: 60px;
}
.image-container .image1{
    padding: 10px;
    position: absolute;
    top:100%;
    left:0%;
    height: 49%;
    width: 50.5%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
    
}
.image-container .image2{
    position: absolute;
    top:100%;
    padding: 10px;
    left:50%;
    height: 49%;
    width: 50%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-container .image3{
    position: absolute;
    padding: 10px;
    left:0%;
    top: 148%;
    height: 49%;
    width: 50.5%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-container .image4{
    position: absolute;
    padding: 10px;
    top:148%;
    left:50%;
    height: 49%;
    width: 50%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-text1
{
    position: absolute;
    left:18%;
    top: 130%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text2
{
    position: absolute;
    left:65%;
    top: 129%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text3
{
    position: absolute;
    left: 16%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text4
{
    position: absolute;
    left: 66%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.products
{
    position:relative;
    top: 194vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 2rem;
    margin: 30px 10px 10px 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.products.reveal {
    opacity: 1;
}
.row-products
{
  position:relative;
  transition: all .40s;
}
.row-products img
{
  width:100%;
  height: auto;
  transition:all .40s;
}
.hearth-icon
{
  position: absolute;
  right: 10px;
  top: 10px;
  transition:ease 0.4s;
}
.hearth-icon:hover
{
  font-size: 25px;
  transition:ease 0.4s;
}