*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#backgroundVideo
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content-above-video h1
{
    display: flex;
    position: absolute;
    left: 250px;
    bottom: 80px;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
}
.content-above-video h3
{
    display: flex;
    position: absolute;
    left: 260px;
    bottom: 50px;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
}
.image-container .image1{
    padding: 10px;
    position: absolute;
    top:100%;
    left:0%;
    height: 49%;
    width: 50.5%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
    
}
.image-container .image2{
    position: absolute;
    top:100%;
    padding: 10px;
    left:50%;
    height: 49%;
    width: 50%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-container .image3{
    position: absolute;
    padding: 10px;
    left:0%;
    top: 148%;
    height: 49%;
    width: 50.5%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-container .image4{
    position: absolute;
    padding: 10px;
    top:148%;
    left:50%;
    height: 49%;
    width: 50%;
    object-fit:cover;
    object-position:top left;
    filter: brightness(70%);
}
.image-text1
{
    position: absolute;
    left:18%;
    top: 130%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text2
{
    position: absolute;
    left:65%;
    top: 129%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text3
{
    position: absolute;
    left: 16%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text4
{
    position: absolute;
    left: 66%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.products
{
    position:relative;
    top: 194vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 2rem;
    margin: 30px 10px 10px 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.products.reveal {
    opacity: 1;
}
.row-products
{
  position:relative;
  transition: all .40s;
}
.row-products img
{
  width:100%;
  height: auto;
  transition:all .40s;
}
.circle-container
{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    background-color: white;
    border: 2px solid rgb(0, 0, 0); 
    transition:ease 0.4s;
}
.hearth-icon
{
  position: absolute;
  font-size: 13px;
  right: 6px;
  top: 9px;
  transition:ease 0.4s;
}
.hearth-icon:hover
{
    font-size: 13px;
  transition:ease 0.4s;
}
.circle-container:hover
{
    cursor: pointer;
   
    border: 2px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition:ease 0.4s;
}
.container-slider-text
{
  position: relative;
  top:195vh;
  background-color: black;
  width: 100%;
  height:700px;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.slider-text {
  font-size: 30px;
  font-weight: bold ;
  color: white;
  display: inline-block;
  white-space: nowrap;
  animation: slide 35s infinite linear;
}
.slider-container2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.slider-text2 {
  font-size: 30px;
  font-weight: bold ;
  color: white;
  display: inline-block;
  white-space: nowrap;
  animation: slide2 35s infinite linear;
}
.row-blackbox
{
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 2rem;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.item2-blackbox .image1-blackbox
{
  z-index: 100;
  position: relative;
  top:10px;
  width: 260px;
  height: 375px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}
.item2-blackbox .image1-blackbox.fade-in {
  opacity: 1;
  transform: translateX(0);
}
.item2-blackbox .image2-blackbox
{
  z-index: 100;
  position: relative;
  top:-30px;
  right:25px;
  width: 260px;
  height: 375px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}
.item2-blackbox .image2-blackbox.fade-in
{
  opacity: 1;
  transform: translateX(0);
}
.item1-blackbox p
{
  font-size: 15px;
  color: white;
  margin: 0px 0px 25px;
  font-weight: bold;
}
.item1-blackbox 
{
  text-align: center;
}
.item1-blackbox h5
{
  font-size: 35px;
  color: white;
  margin: 0px 0px 20px;
}
.back-to-top
{
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
    margin: 20px 0px 0px;
    padding: 10px 25px;
}
.info-row
{
  position: relative;
  top: 200vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 2rem;
}
.item1-info
{
  padding: 0px 0px 0px 40px;
  width: 100%;
}
.item2-info
{
  padding: 0px 40px 0px 0px;
}
.item1-info img
{
  height: auto;
  width: 100%;
}
.item2-info img
{
  height: auto;
  width: 100%;
}
.item1-info h5
{
  font-size: 24px;
  font-weight: bolder;
  word-spacing: 5px;
  margin: 20px 0px 20px;
}
.item2-info h5
{
  font-size: 24px;
  font-weight: bolder;
  word-spacing: 5px;
  margin: 20px 0px 20px;
}
.item1-info p
{
font-size: 15px;

word-wrap: normal;
margin:0px 0px 20px; ;
}
.item2-info p
{
font-size: 15px;
word-wrap: normal;
margin:0px 0px 20px;
}
.item1-info span
{
font-size: 15px;
font-weight: bolder;
}
.item2-info span
{
font-size: 15px;
font-weight: bolder;
}
.last-text-section 
{
 position: relative;
 top:205vh;
 padding: 0px 40px 0px 40px;
 word-wrap: normal;
}
.last-text-section h5
{
 font-size: 24px;
 font-weight: bolder;
 margin: 0px 0px 35px;
}
.last-text-section p
{
  font-size: 16px;
  margin: 0px 0px 25px;
}
.last-text-section span
{
  font-size: 16px;
  font-weight: bolder;
}

@keyframes slide2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(65%);
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(65%);
    }
    100% {
      transform: translateX(-100%);
    }
}
@media(min-aspect-ratio:16/9 )
{
    .back-video
    {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9 )
{
    .back-video
    {
        width: auto;
        height: 100%;
    }
}
@media (max-width:1200px) 
{
    .content-above-video h1
    {
        display: flex;
        position: absolute;
        left: 20px;
        bottom: 80px;
    }
    .content-above-video h3
    {
        display: flex;
        position: absolute;
        left: 20px;
        bottom: 60px;
    } 
.image-text1
{
    position: absolute;
    left:14%;
    top: 130%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text2
{
    position: absolute;
    left:61%;
    top: 129%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text3
{
    position: absolute;
    left: 12%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.image-text4
{
    position: absolute;
    left: 62%;
    top: 180%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
}
@media screen and (max-width: 900px) {
  .logo
  {
     z-index: 0;
     cursor: pointer;
  }
  .image-container .image1{
      position: absolute;
      top:100%;
      left: 0%;
      height: 40%;
      width: 100%;
      object-fit:cover;
      object-position:center;
      filter: brightness(70%);
      
  }
  .image-container .image2{
      position: absolute;
      top:138.5%;
      left: 0%;
      height: 40%;
      width: 100%;
      object-fit:cover;
      object-position:center;
      filter: brightness(70%);
  }
  .image-container .image3{
      position: absolute;
      padding: 10px;
      left:0%;
      top: 177%;
      height: 40%;
      width:100%;
      object-fit:cover;
      object-position:center;
      filter: brightness(70%);
  }
  .image-container .image4{
      position: absolute;
      padding: 10px;
      top:215.5%;
      left:0%;
      height: 40%;
      width: 100%;
      object-fit:cover;
      object-position:center;
      filter: brightness(70%);
  }
  .image-text1
  {
      position: absolute;
      left:30%;
      top: 115%;
      color: white;
      font-size: 40px;
      font-weight: bold;
  }
  .image-text2
  {
      position: absolute;
      left:30%;
      top: 155%;
      color: white;
      font-size: 40px;
      font-weight: bold;
  }
  .image-text3
  {
      position: absolute;
      left: 30%;
      top: 195%;
      color: white;
      font-size: 40px;
      font-weight: bold;
  }
  .image-text4
  {
      position: absolute;
      left: 30%;
      top: 235%;
      color: white;
      font-size: 40px;
      font-weight: bold;
  }
  .item1-blackbox
  {
    position: relative;
    top: 400px;
      width: 100%;
      height: 300px;

  }
  .info-row
  {
    display: block;
  }
  .item1-info
{
padding: 0px 40px 0px 40px;
width: 100%;
}
.item2-info
{
padding: 0px 40px 0px 40px;
}
}
@media (max-width: 768px) {
  .footer-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .footer-container ul li {
    display: block;
    margin: 10px 0;
  }
}