.container {
  position: relative;
  top: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 2rem;
  margin: 20px;
  padding: 0px 150px 0px 150px;
}

.item {
  position: relative;
  transition: all .40s;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.05);
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(180px);
  width: 100%;
}

.select-container select {
  border: none;
  font-size: large;
  width: 20%;
  border-bottom: 3px solid black;
}

.button-container-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button-admin {
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}

.remove-button-admin {
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}

.item img {
  width: 100%;
  height: auto;
  transition: all .40s;
}

.product-item-title {
  font-weight: bold;
  font-size: large;
}

.circle-container {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  transition: ease 0.4s;
}

.hearth-icon {
  position: absolute;
  font-size: 13px;
  right: 6px;
  top: 9px;
  transition: ease 0.4s;
}

.hearth-icon:hover {
  font-size: 13px;
  transition: ease 0.4s;
}

.circle-container:hover {
  cursor: pointer;

  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Shadow effect */
  transition: ease 0.4s;
}

.link-style {
  text-decoration: none;
  color: black;
}