/*Loading*/
.loading-product-container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.loading-product {
    font-size: 24px; 
    font-weight: bold;
}

.product-details-container{
    display: flex;
    flex-direction: column;
}


/*Product*/
.product-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.product-container-small {
    max-width: 1300px; /* Maximum width for the product container */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
    justify-content: center; /* Center items horizontally */
}

@media (max-width: 1300px) {
    .product-container-small {
        justify-content: flex-start; /* Start align items when available space is reduced */
    }
}

.image-container {
    width: calc(50% - 22.5px); /* Adjusted to account for padding */
    padding-right: 22.5px; /* Adjusted padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
}
.image-container img {
   width: 100%;
}

.details-container {
    width: calc(50% - 22.5px); /* Adjusted to account for padding */
    padding-left: 22.5px; /* Adjusted padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.product-name{
    font-weight:800;
    font-size: 50px;
}
.product-price{
    font-weight:bold;
    font-size:large;
}
.choosing{
    display: flex;
    margin: 30px 30px 30px 0px;
}
.size-choose{
    width: 50px;
    border-bottom: 3px solid black;
}
.size-choose p{
    font-size: large;
    font-weight: 300;
    margin: 0;
}
.size-choose select{
    border: none;
    width: 45px;
}

.quantity-choosing p{
    font-size: large;
    font-weight: 300;
    margin: 0;
}
.quantity-choosing {
   margin-left: 50px ;
   border-bottom: 3px solid black;
}
.quantity-choosing input[type="number"]{
    width: 90px;
}
.add-to-cart{
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
.product-description{
    width: 100%;
}
.product-description h5{
    margin: 20px 0px 20px 0px;
    font-weight: 500;
    border-bottom: 3px solid black;
}
.product-description p{
    font-size: 19px;
}
@media (max-width: 768px) {
    .product-container-small {
        flex-direction: column; 
    }
    .details-container {
        width: 100%;
        padding: 50px;
    }
    .product-name{
     text-align: center;
     font-weight:400;
    }
    .product-price{
     text-align: center;
    }
    .image-container{
        width: 100%;
        padding: 0;
    }
}

.recomend-header{
    text-align: center;
    margin-top:20vh;
    margin-bottom: 50px;
    font-weight:900;
}