.container {
  position: relative;
  top: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 2rem;
  margin: 20px;
  padding: 0px 150px 0px 150px;
}

.item {
  position: relative;
  transition: all .40s;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.05);
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(180px);
  width: 100%;
}

.category-select {
  border: none;
  font-size: large;
  width: 20%;
  border-bottom: 3px solid black;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
}
.sort-select{
  border: none;
  font-size: large;
  width: 20%;
  border-bottom: 3px solid black;
  padding: 10px;
}
.add-product{
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.button-container-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button-admin,
.remove-button-admin,
.sold-button-admin {
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}
.product-container.sold-out .item img {
  opacity: 0.6; 
}
.sold-out-overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Apply hover effect */
.edit-button-admin:hover{
  background-color: rgb(158, 134, 27);
}

.remove-button-admin:hover{
  background-color: rgb(194, 24, 24);
}

.sold-button-admin:hover {
  background-color: grey;
}

.item img {
  width: 100%;
  height: auto;
  transition: all .40s;
}

.product-item-title {
  font-weight: bold;
  font-size: large;
}

.link-style {
  text-decoration: none;
  color: black;
}